.textBlock {
  max-width: 336px;
  /* margin-right: 32px; */
}

.textBlockHeader {
  font: var(--caption20-24);
  color: var(--beigePrimary);
  margin-bottom: 24px;
}

.textBlockContent {
  font: var(--text24-32);
  color: var(--beigePrimary);
}

.textBlockIcons {
}
