@import "../../../pages/config.css";

.Button {
  background-color: var(--beigeSecondary);
  border-radius: 50px;
  padding: 4px 20px;
  box-sizing: border-box;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  &:hover {
    background-color: var(--redPrimary);
    transition: all 0.15s ease-in;
  }
  &:active {
    background-color: var(--redSecondary);
  }
}

.ButtonText {
  color: var(--darkPrimary);
  font: var(--caption20-24);
  margin-bottom: 3px;
}

.Button svg {
  margin-right: 8px;
}
