@import "../../../pages/config.css";

.Button {
  background-color: var(--beigeSecondary);
  transition: background-color 0.15s ease-in;
  border-radius: 50px;
  padding: 4px 20px;
  box-sizing: border-box;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

@media (min-width: 1025px) {
  .Button:hover {
    background-color: var(--redPrimary);
    transition: background-color 0.15s ease-in;
  }
  .Button:active {
    background-color: var(--redSecondary);
  }
}

@media (max-width: 1024px) {
  .Button:active {
    background-color: var(--redPrimary);
    transition: background-color 0.05s ease-in;
  }
}

.ButtonText {
  user-select: none;
  color: var(--darkPrimary);
  font: var(--caption20-24);
  height: 40px;
  padding-top: 6px;
}

.Button svg {
  margin-right: 8px;
}
