.viewPort {
  overflow-x: hidden;

  display: flex;
  backface-visibility: hidden;
}

.slides {
  flex-grow: 1;
  display: flex;
  will-change: transform;
  backface-visibility: hidden;
}

.slide {
  position: relative;
  backface-visibility: hidden;
  /* background-color: pink;
  border: 1px solid orangered; */
}
