.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media (max-width: 1023px) {
    flex-direction: column;
  }
}

.content {
  width: 75%;
  @media (max-width: 1023px) {
    width: 100%;
  }
}

.textBlocks {
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  width: 89%;
  margin-bottom: 288px;
  @media (max-width: 1700px) {
    width: 100%;
  }
  @media (max-width: 690px) {
    flex-direction: column;
  }
}

.textBlockLast {
  margin-right: 0;
}

.copyright {
  font: var(--text24-32);
  color: var(--beigePrimary);
}
