.content {
  display: flex;
  justify-content: flex-start;

  @media (max-width: 1023px) {
    flex-direction: column;
  }

  padding: 0px 56px 0px 56px;
  @media (max-width: 1440px) {
    padding: 0px 34px 0px 34px;
  }
  @media (max-width: 1024px) {
    padding: 0px 16px 0px 16px;
  }
}

.textBlocks {
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  width: 75%;
  @media (max-width: 1023px) {
    width: 100%;
  }
  @media (max-width: 690px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.wrapper {
  position: relative;
  overflow: hidden;
  height: 500px;
  background-color: #ff0051;
}

.copyright {
  font: var(--text24-32);
  color: var(--beigePrimary);
}

.logo {
  width: 1476px;
  height: 105px;
  position: absolute;
  bottom: -40px;
  right: -80px;
  transform: rotate(-15deg);
}

.moveBg {
  height: 100%;
  width: 100%;
  background: url(/static/img/LogoLine.png) repeat 0 0;
  background-size: 100%;
  animation: moveLogo 600s linear infinite;
}

@keyframes moveLogo {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 70000px 0;
  }
}

.phoneLink {
  color: var(--beigePrimary);
  cursor: default;
  &:hover {
    color: var(--beigePrimary);
  }
  @media (max-width: 690px) {
    color: var(--beigeSecondary);
    cursor: pointer;
    &:hover {
      color: var(--redPrimary);
    }
  }
}
