.introImage {
  flex-shrink: 1;
  width: auto;
  height: 17vw;
  align-self: flex-end;
  transition: all 1s ease;
  @media (max-width: 1200px) {
    height: 27vw;
    transition: all 1s ease;
  }
  @media (max-width: 600px) {
    width: 100%;
    height: auto;
    transition: all 1s ease;
  }
}
