.introImage {
  z-index: -1;
  position: absolute;
  right: 28px;
  margin-top: 64px;
  flex-shrink: 1;
  width: auto;
  user-select: none;
  -webkit-user-drag: none;
  height: 360px;

  @media (max-width: 1460px) {
    right: 17px;
  }

  @media (max-width: 1024px) {
    right: 8px;
    height: 300px;
  }

  @media (max-width: 768px) {
    height: 260px;
  }

  @media (max-width: 600px) {
    position: static;
    margin-top: 0;
    width: 100%;
    height: auto;
  }
}
