{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@site": "./"
        }
      }
    ]
  ],
  "env": {
    "development": {
      "presets": [
        [
          "next/babel",
          {
            "preset-env": {
              "useBuiltIns": "usage"
            }
          }
        ]
      ]
    },
    "production": {
      "presets": [
        [
          "next/babel",
          {
            "preset-env": {
              "useBuiltIns": "usage"
            }
          }
        ]
      ]
    },
    "test": {
      "presets": ["env", "react"]
    }
  }
}
