.navigation {
  position: absolute;
  left: calc(25% + 28px);
  @media (max-width: 1440px) {
    left: calc(25% + 17px);
  }
  @media (max-width: 1200px) {
    display: none;
  }
}

.navWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
}
