.header {
  animation-name: fadeIn;
  animation-duration: 1.3s;
  animation-timing-function: cubic-bezier(0.59, 0.01, 0.28, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 46px 56px 0px 56px;

  @media (max-width: 1440px) {
    padding: 46px 34px 0px 34px;
  }

  @media (max-width: 1024px) {
    padding: 30px 16px 0px 16px;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  @media (max-width: 1440px) {
    justify-content: flex-end;
    width: auto;
  }
}

@keyframes fadeIn {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
  }
}
