.Title {
  font: var(--title80-80);
  color: var(--beigePrimary);
  margin-bottom: 48px;
  margin-right: 40px;
  max-width: 570px;
  @media (max-width: 1200px) {
    max-width: 570px;
  }
  @media (max-width: 768px) {
    font: var(--titleMobile40-40);
    max-width: 290px;
    margin-bottom: 28px;
  }
}
