.iconLink {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  margin-right: 32px;
}

.description {
  margin-bottom: 2px;
  margin-right: 8px;
  font: var(--text24-32);
  color: var(--beigePrimary);
}

.text {
  margin-bottom: 2px;
  margin-left: 8px;
  font: var(--text24-32);
  color: var(--beigeSecondary);
}

.icon {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.15s ease-in;
  &:hover g {
    fill: var(--redPrimary);
    transition: all 0.15s ease-in;
  }
  &:hover rect {
    fill: var(--redPrimary);
    transition: all 0.15s ease-in;
  }
  &:hover .text {
    color: var(--redPrimary);
    transition: all 0.15s ease-in;
  }
  &:active g {
    fill: var(--redSecondary);
    transition: all 0.15s ease-in;
  }
  &:active rect {
    fill: var(--redSecondary);
    transition: all 0.15s ease-in;
  }
  &:active .text {
    color: var(--redSecondary);
    transition: all 0.15s ease-in;
  }
}
