.iconLink {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  margin-right: 32px;
}

.description {
  margin-right: 8px;
  font: var(--text24-32);
  color: var(--beigePrimary);
  @media (max-width: 1200px) {
    font: var(--textMobile18-24);
  }
}

.text {
  font: var(--text24-32);
  color: var(--beigeSecondary);
  @media (max-width: 1200px) {
    font: var(--textMobile18-24);
  }
}

.icon {
  margin-right: 8px;
  fill: #a38e7c;
}

.link {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in;
  &:hover .icon {
    fill: var(--redPrimary);
    transition: all 0.2s ease-in;
  }
  &:hover .text {
    color: var(--redPrimary);
    transition: all 0.2s ease-in;
  }
  &:active .icon {
    fill: var(--redSecondary);
    transition: all 0.2s ease-in;
  }
  &:active .text {
    color: var(--redSecondary);
    transition: all 0.2s ease-in;
  }
}
