.iconLink {
  margin-right: 16px;
  cursor: pointer;
  &:hover g {
    fill: var(--redPrimary);
    transition: all 0.15s ease-in;
  }
  &:hover rect {
    fill: var(--redPrimary);
    transition: all 0.15s ease-in;
  }
  @media (max-width: 1023px) {
    display: none;
  }
}

.iconTooltip {
  display: inline-flex;
  background-color: var(--darkSecondary);
  font: var(--caption20-24);
  color: var(--beigePrimary);
  border-radius: 4px;
  padding: 8px 12px;
}

.iconText {
  font: var(--caption20-24);
  color: var(--beigePrimary);
}
