.slick-track {
  display: flex !important;
}

.slick-slide {
  position: relative;
  height: auto !important;
  min-height: none !important;
  max-height: none !important;
  display: flex !important;
}

.slick-slide > div {
  flex-grow: 1;
  width: 100%;
}

.slick-arrow,
.slick-prev,
.slick-next {
  all: unset;
}

.slick-slider .slick-arrow {
  visibility: hidden;
  opacity: 0;
}

.slick-slider:hover .slick-arrow {
  visibility: visible;
  opacity: 1;
}
