.wrapper {
  width: 100%;
  border-radius: 6px;
  overflow: hidden;

  &:hover .navButton {
    display: block !important;
  }
}

.navButton {
  display: none !important;
  width: 500px !important;
}
