.timeLine {
  overflow: hidden;
  position: relative;
  height: 2px;
  background-color: rgba(88, 89, 104, 0.5);
  margin-right: 8px;
  border-radius: 4px;
  flex: 1 1 0;
}

.progressBar {
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  height: 2px;
  border-radius: 4px;
  background-color: rgba(244, 244, 245, 0.5);
}
