.wrapper {
  overflow: hidden;
  height: 2px;
  padding: 20px 0;
  margin-top: -20px;
  margin-right: 8px;
  border-radius: 4px;
  flex: 1 1 0;
  @media (max-width: 600px) {
    margin-right: 4px;
  }
}

.timeLine {
  overflow: hidden;
  position: relative;
  height: 2px;
  background-color: rgba(88, 89, 104, 0.5);
  margin-right: 8px;
  border-radius: 4px;
  flex: 1 1 0;
  @media (max-width: 600px) {
    margin-right: 4px;
  }
}

.progressBar {
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  height: 2px;
  border-radius: 4px;
  background-color: rgba(244, 244, 245, 0.5);
}
