.slide {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: var(--darkSecondary);
  padding-top: 56px;
  padding-left: 16px;
  padding-right: 16px;
  @media (max-width: 340px) {
    padding-top: 32px;
  }
}

.title {
  font: var(--titleMobile22-28);
  color: var(--beigePrimary);
  margin-bottom: 28px;
}

.text {
  font: var(--textMobile18-24);
  color: var(--beigePrimary);
  margin-bottom: 28px;
}

.articleIconBlock {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.articleIconLink {
  margin-bottom: 16px;
}
