.howWeWork {
  padding-top: 56px;
  margin-bottom: 160px;
  @media (max-width: 1024px) {
    margin-bottom: 80px;
  }
}

.howWeWorkDesktop {
  @media (max-width: 600px) {
    display: none;
  }
}

.howWeWorkMobile {
  @media (min-width: 601px) {
    display: none;
  }
}
