.plusButton {
  margin-bottom: 160px;
  margin-left: calc(25% + 28px);
  @media (max-width: 1440px) {
    margin-left: calc(25% + 17px);
  }
  @media (max-width: 1023px) {
    margin-bottom: 80px;
    margin-left: 16px;
  }
}

.caseWiki {
  margin-bottom: 160px;
  @media (max-width: 1023px) {
    margin-bottom: 80px;
  }
}
