.slide {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #86878f;
}

.phones {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 50%;
  left: 50%;
  margin-left: -458px;
  margin-top: -280px;
  @media (max-width: 1600px) {
    transform: scale(0.9);
  }
  @media (max-width: 1440px) {
    transform: scale(0.85);
  }
  @media (max-width: 1280px) {
    transform: scale(0.7);
  }
  @media (max-width: 1200px) {
    transform: scale(0.65);
  }
  @media (max-width: 1023px) {
    transform: scale(0.85);
  }
  @media (max-width: 890px) {
    transform: scale(0.65);
  }
  @media (max-width: 768px) {
    transform: scale(0.55);
  }
}

.phone {
  margin-right: 48px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.1),
    0 8px 12px 0 rgba(0, 0, 0, 0.03);
  position: relative;
  overflow: hidden;
  width: 273px;
  height: 560px;
  border-radius: 28px;
  background-color: var(--darkSecondary);
}

.screen {
  position: absolute;
  pointer-events: none;
  object-fit: cover;
  object-position: top left;
  top: 50%;
  left: 50%;
  margin-left: -128px;
  margin-top: -230px;
  height: 460px;
  width: 256px;
  border-radius: 3px;
}
