.showControls {
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease;
}

.slider {
  position: relative;
  overflow: hidden;
  width: 75%;
  height: 40vw;
  background-color: var(--darkSecondary);
  border-radius: 6px;
  @media (max-width: 1023px) {
    width: 100%;
    height: 60vw;
  }
  @media (max-width: 600px) {
    height: 130vw;
  }
  &:hover .showControls {
    visibility: visible;
    opacity: 1;
  }
}

.main {
  position: absolute;
  width: 100%;
  top: 0px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: transform, opacity;
}
