.slick-track {
  display: flex !important;
  will-change: transform;
}

.slick-slide {
  position: relative;
  display: flex !important;
  overflow: hidden !important;
  height: 100%;
}

.slick-slide > div {
  flex-grow: 1;
  width: 100%;
  height: 40vw;
}

@media (max-width: 1024px) {
  .slick-slide > div {
    height: 60vw;
  }
}

@media (max-width: 600px) {
  .slick-slide > div {
    height: 130vw;
  }
}

.slick-arrow,
.slick-prev,
.slick-next {
  all: unset;
}

.slick-slider .slick-arrow {
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease;
}

.slick-slider:hover .slick-arrow {
  visibility: visible;
  opacity: 1;
  transition: all 0.4s ease;
}
