.image {
  opacity: 0;
}

.preloader {
  position: absolute;
  top: -20px;
  left: -20px;

  width: calc(100% + 40px) !important;
  height: calc(100% + 40px) !important;

  z-index: 50;
  filter: blur(15px);
  transition: opacity 0.3s ease-in-out;
  will-change: transition;
}

.wrapper {
  overflow: hidden;
}

.loaded .preloader {
  opacity: 0;
}

.loaded .image {
  opacity: 1;
}
