div.background {
  z-index: 1;
  position: absolute;
  bottom: 16px;
  left: 50%;

  width: 50px;
  height: 48px;

  background-color: var(--darkPrimary);
  transition: all 0.2s ease;
  @media (max-width: 1024px) {
    display: none;
  }

  &::before {
    display: none;
  }

  &:hover {
    background-color: var(--darkPrimary);
  }
}

.button {
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 2px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--darkPrimary);
  border: none;
  transition: background-color 0.3s ease;
}

.leftArrow {
  position: absolute;
  left: 14px;
  top: 10px;
}

.rightArrow {
  position: absolute;
  right: 14px;
  top: 10px;
}

.button_left {
  left: 2px;
  &:hover {
    background-color: var(--redPrimary);
    transition: background-color 0s ease;
  }
  &:active {
    background-color: var(--redSecondary);
  }
  &:hover .leftArrow polyline {
    stroke: var(--darkPrimary);
  }
}

.button_right {
  right: 2px;
  &:hover {
    background-color: var(--redPrimary);
  }
  &:active {
    background-color: var(--redSecondary);
    transition: background-color 0s ease;
  }
  &:hover .rightArrow polyline {
    stroke: var(--darkPrimary);
  }
}

.wrapper_left {
  bottom: 0 !important;
  top: auto !important;
  margin-left: -50px;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}

.wrapper_right {
  bottom: 0 !important;
  top: auto !important;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}
