.slide {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #86878f;
}

.phone {
  position: absolute;
  overflow: hidden;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.1),
    0 8px 12px 0 rgba(0, 0, 0, 0.03);
  top: 50%;
  left: 50%;
  margin-left: -115px;
  margin-top: -240px;
  width: 230px;
  height: 480px;
  border-radius: 26px;
  background-color: var(--darkSecondary);
  @media (max-width: 413px) {
    transform: scale(0.9);
  }
  @media (max-width: 375px) {
    transform: scale(0.8);
  }
  @media (max-width: 350px) {
    transform: scale(0.7);
  }
}

.screen {
  overflow: hidden;
  pointer-events: none;
  object-fit: cover;
  object-position: top left;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -110px;
  margin-top: -205px;
  height: 410px;
  width: 220px;
  border-radius: 3px;
}
