.ArticleIcon {
  width: 21px;
  height: 21px;
}

.GlobeIcon {
  width: 21px;
  height: 21px;
}

.SliderAmountIcon {
  width: 28px;
  height: 21px;
}

.SliderArrowLeftIcon {
  width: 14px;
  height: 24px;
}

.SliderArrowRightIcon {
  width: 14px;
  height: 24px;
}
