.ArticleIcon {
  width: 29px;
  height: 32px;
}

.GlobeIcon {
  width: 32px;
  height: 32px;
}

.SliderAmountIcon {
  width: 43px;
  height: 32px;
}

.SliderArrowLeftIcon {
  width: 19px;
  height: 32px;
}

.SliderArrowRightIcon {
  width: 19px;
  height: 32px;
}
