.case {
  display: flex;
  flex-direction: row;
  margin-bottom: 80px;

  padding: 0px 56px 0px 56px;
  @media (max-width: 1440px) {
    padding: 0px 34px 0px 34px;
  }
  @media (max-width: 1024px) {
    padding: 0px 16px 0px 16px;
  }

  @media (max-width: 1024px) {
    flex-direction: column;
    margin-bottom: 40px;
  }
}

.visible {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
}

.inVisible {
  visibility: hidden;
  opacity: 0;
  transform: translateY(30px);
  -webkit-transform: translateY(30px);
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
}
.sliderWrapper {
  width: 75%;
  @media (max-width: 1023px) {
    width: 100%;
  }
}
