.clientsList {
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  width: 75%;
  @media (max-width: 1300px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }
  @media (max-width: 690px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.client {
  font: var(--title40-48);
  color: var(--beigePrimary);
  @media (max-width: 1024px) {
    font: var(--titleMobile28-32);
  }
}
