@font-face {
  font-family: "Aeroport-light";
  src: local("Aeroport"),
    url("/static/fonts/Aeroport-light.svg#aeroport") format("svg"),
    url("/static/fonts/Aeroport-light.ttf") format("truetype"),
    url("/static/fonts/Aeroport-light.eot?#iefix") format("eot"),
    url("/static/fonts/Aeroport-light.woff") format("woff"),
    url("/static/fonts/Aeroport-light.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "GraphikLight";
  src: local("Graphik"),
    url("/static/fonts/Graphik-Light-Cy-Web.woff") format("woff");
  font-weight: 200;
}

html {
  background-color: #0e0f0f;
  -webkit-font-smoothing: antialiased;
  max-width: 1920px;
}

h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

::selection {
  background-color: rgba(224, 215, 206, 0);
  color: var(--redPrimary);
}

a {
  text-decoration: none;
  color: var(--beigeSecondary);
  transition: all 0.15s ease;
  &:hover {
    color: var(--redPrimary);
    transition: all 0.15s ease;
  }
}
