@font-face {
  font-family: 'Aeroport-light';
  src: url('/static/fonts/Aeroport-light.svg#aeroport') format('svg'),
    url('/static/fonts/Aeroport-light.ttf') format('truetype'),
    url('/static/fonts/Aeroport-light.eot?#iefix') format('eot'),
    url('/static/fonts/Aeroport-light.woff') format('woff'),
    url('/static/fonts/Aeroport-light.woff2') format('woff2');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'GraphikLight';
  src: url('/static/fonts/Graphik-Light-Cy-Web.woff') format('woff');
  font-weight: 200;
  font-display: swap;
}

html {
  background-color: #0e0f0f;
  -webkit-font-smoothing: antialiased;
  max-width: 1920px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

div {
  -webkit-tap-highlight-color: transparent;
}

*,
*:focus {
  outline: 0;
}

::selection {
  background-color: var(--redPrimary);
  color: var(--darkPrimary);
}

a {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: var(--beigeSecondary);
  transition: all 0.15s ease;
  &:hover {
    color: var(--redPrimary);
    transition: all 0.15s ease;
  }
}
