.slide {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #86878f;
}

.browser {
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  margin-left: -27vw;
  margin-top: -16vw;
  width: 54vw;
  height: 32vw;
  border-radius: calc(4px + 3 * ((100vw - 1024px) / 896));
  background-color: #dcdce0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.1),
    0 8px 12px 0 rgba(0, 0, 0, 0.03);
  @media (max-width: 1023px) {
    margin-left: -40vw;
    margin-top: -24vw;
    width: 80vw;
    height: 48vw;
  }
}

.header {
  position: relative;
  z-index: 1;
  height: 1.6vw;
  width: 100%;
  background-color: #dcdce0;
  @media (max-width: 1023px) {
    height: 2vw;
  }
}

.dots {
  pointer-events: none;
  position: absolute;
  width: calc(16px + 16 * ((100vw - 600px) / 1320));
  height: auto;
  top: 40%;
  left: 1.2%;
}
