.wrapper {
  overflow: hidden;
  pointer-events: none;
  object-fit: cover;
  object-position: top left;
  position: absolute;
  top: 0;
}

.video {
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  object-fit: cover;
  object-position: top left;
  position: absolute;
  top: 0;
}

.preloader {
  position: absolute;
  transform: none;
  transition: opacity 0.3s ease-in-out;
  top: -20px;
  left: -20px;
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  filter: blur(15px);
  z-index: 50;
}

.canPlay .preloader {
  opacity: 0 !important;
}

.canPlay .video {
  opacity: 1;
}
