.descriptor {
  margin-right: 44px;
  width: calc(25% - 44px);
  transition: all 0.8s ease;
  @media (max-width: 1023px) {
    width: 100%;
    margin-bottom: 24px;
    transition: all 0.8s ease;
  }
}

.type {
  font: var(--caption20-24);
  color: var(--beigePrimary);
  margin-bottom: 24px;
  transition: all 0.8s ease;
  @media (max-width: 1023px) {
    margin-bottom: 8px;
    transition: all 0.8s ease;
  }
}

.name {
  font: var(--title40-40);
  color: var(--beigePrimary);
  margin-bottom: 32px;
  transition: all 0.8s ease;
  @media (max-width: 1023px) {
    font: var(--titleMobile28-32);
    margin-bottom: 0;
    transition: all 0.8s ease;
  }
}

.descriptorIconBlock {
  display: flex;
  flex-wrap: wrap;
  @media (max-width: 1023px) {
    display: none;
  }
}

.descriptionIconLink {
  margin-right: 8px;
  margin-bottom: 16px;
}
