.descriptor {
  margin-right: 44px;
}

.descriptorType {
  font: var(--caption20-24);
  color: var(--beigePrimary);
  margin-bottom: 24px;
}

.descriptorName {
  font: var(--title40-40);
  color: var(--beigePrimary);
  margin-bottom: 32px;
}

.SiteLinkIcon {
  margin-right: 16px;
  cursor: pointer;
  &:hover g {
    fill: var(--redPrimary);
    transition: all 0.15s ease-in;
  }
}

.ArticleLinkIcon {
  cursor: pointer;
  &:hover rect {
    fill: var(--redPrimary);
    transition: all 0.15s ease-in;
  }
}
