.descriptor {
  margin-right: 44px;
  width: calc(25% - 44px);
  @media (max-width: 768px) {
    width: 100%;
    margin-bottom: 24px;
  }
}

.descriptorType {
  font: var(--caption20-24);
  color: var(--beigePrimary);
  margin-bottom: 24px;
  @media (max-width: 768px) {
    margin-bottom: 8px;
  }
}

.descriptorName {
  font: var(--title40-40);
  color: var(--beigePrimary);
  margin-bottom: 32px;
  @media (max-width: 768px) {
    font: var(--titleMobile28-32);
    margin-bottom: 0;
  }
}
